<div class='about'>
  <h4>Ax Swap is a place for musicians to buy, sell, and swap musical instruments, accessories and related gear.</h4>

  <p><strong>Please sell your dog and your furniture elsewhere.</strong></p>


  <p><strong>Report Objectionable Content</strong> - We do not allow nudity, bullies, hateful content, profanity, or content that encourages people to hurt themselves. If you find content that may be illegal or violates our <%= link_to 'Terms of Service', '/tos' %> or <%= link_to 'Privacy Policy', '/privacy' %>, report the content for review at <a href='mailto:Alert@AxSwap.com'>alert@AxSwap.com</a></p>.

   <hr />

  <h4>Tell Us How to Make Ax Swap Better</h4>

  <p>We're just getting started, so there are going to be wrong notes here and there. Let us know what's working and what's not. We take your input seriously. You can get in touch with us anytime at <a href='mailto:Feedback@AxSwap.com'>feedback@AxSwap.com</a></p>
</div>
